.date-container {
  display: grid;
}
.title {
  color: var(--color-text-dark-primary);
  font-weight: 700;
  font-size: 2.4rem;
}
.date {
  color: var(--color-text-dark-secondary);
  font-weight: 600;
}
