@import "../../../styles/abstracts.scss";

.favorites {
  position: relative;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 5rem;

  @include respond(laptop) {
    gap: 3rem;
  }

  @include respond(tab-port-large) {
    margin: 3.5rem 0;
  }
  @include respond(phone-v-small) {
    gap: 3rem 2rem;
  }

  h2 {
    grid-column: 1 / -1;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    top: 68%;
    cursor: pointer;

    svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-text-light-tertiary);
    }

    &--back {
      left: -2.5rem;
      transform: translate(-50%, -50%);

      @include respond(phone-v-small) {
        left: -2rem;
      }
    }
    &--next {
      right: -2.5rem;
      transform: translate(50%, -50%);

      @include respond(phone-v-small) {
        right: -2rem;
      }
    }
  }
}
