@import "../../../styles/abstracts.scss";

.day {
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 1.3rem;
  width: 30%;
  transform: scale(1);
  transition: all 0.3s;

  @include respond(laptop) {
    padding: 3rem;
  }

  @include respond(tab-port-large) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 3rem 4rem;
  }
  @include respond(phone-v-small) {
    padding: 2rem 3rem;
  }

  &__weekday {
    color: var(--color-primary-tint-2);
    font-weight: 700;
    font-size: 2rem;

    @include respond(laptop) {
      font-size: 1.8rem;
    }
    @include respond(tab-port-large) {
      font-size: 2rem;
    }
  }

  &__date {
    display: none;

    @include respond(tab-port-large) {
      display: initial;
      color: var(--color-text-dark-secondary);
      font-weight: 600;
    }
  }

  &__condition {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-port-large) {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
  img {
    @include respond(phone-v-small) {
      display: none;
    }
  }
  &__extremes {
    font-weight: 600;
    text-align: center;
  }

  &__rain {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--color-text-dark-secondary);
    font-weight: 600;

    svg {
      width: 2.2rem;
      height: 2.2rem;
      fill: var(--color-primary);
    }

    // @include respond(tab-port-large) {
    //   grid-column: 2 / 3;
    // }
  }

  &:hover {
    transform: scale(1.05);
  }
}
