@import "../../../styles/abstracts.scss";

.sun {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  @include respond(tab-port-large) {
    padding-top: 3rem;
  }
  @include respond(phone-v-small) {
    padding-top: 1.5rem;
  }

  &__activity {
    width: 46%;
    display: flex;
    align-items: center;
    // gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-primary-shade);

    @include respond(phone-v-small) {
      padding: 1rem;
    }

    svg {
      width: 5rem;
      height: 5rem;
      fill: var(--color-grey-1);
    }
  }

  &__activity-desc {
    display: grid;
    padding: 1.5rem 2rem;

    @include respond(phone-v-small) {
      padding: 1rem;
    }

    span:nth-child(1) {
      font-weight: 600;
      color: var(--color-text-light-secondary);
    }
    span:nth-child(2) {
      font-size: 1.6rem;
    }
  }
}
