@import "../../styles/abstracts.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal {
  padding: 3rem 4.5rem;

  position: fixed;
  top: 25vh;
  width: 50rem;
  left: calc(50% - 25rem);
  background-color: var(--color-grey-1);
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  animation: slide-down 300ms ease-out;

  @include respond(phone-small) {
    width: 40rem;
    left: calc(50% - 20rem);
  }
  @include respond(phone-v-small) {
    width: 30rem;
    left: calc(50% - 15rem);
  }
}
