@import "../../../styles/abstracts.scss";

.slider {
  position: relative;

  &__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
  }

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }

  &__btn {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    //top: 50%;
    cursor: pointer;

    svg {
      display: block;
      width: 3rem;
      height: 3rem;
      fill: var(--color-text-light-tertiary);
    }
  }
}
